<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="LiveCharts" version="0.9.7" targetFramework="net452" />
  <package id="LiveCharts.Wpf" version="0.9.7" targetFramework="net452" />
  <package id="MindFusion.Charting.Wpf" version="2.2.0" targetFramework="net452" />
  <package id="MindFusion.Diagramming" version="6.5.2" targetFramework="net452" />
  <package id="MindFusion.Diagramming.Wpf" version="3.5.3.2" targetFramework="net452" />
  <package id="MindFusion.Gauges.Wpf" version="1.0.0" targetFramework="net452" />
  <package id="MindFusion.Keyboard.Wpf" version="4.4.2.1" targetFramework="net452" />
  <package id="MindFusion.Pack" version="2017.2.0" targetFramework="net452" />
  <package id="MindFusion.Pack.Wpf" version="2017.1.0" targetFramework="net452" />
  <package id="MindFusion.Scheduling.Wpf" version="3.3.1" targetFramework="net452" />
  <package id="MindFusion.Spreadsheet.Wpf" version="1.2.0" targetFramework="net452" />
  <package id="NLog" version="4.5.7" targetFramework="net452" />
  <package id="NLog.Config" version="4.5.7" targetFramework="net452" />
  <package id="NLog.Schema" version="4.5.7" targetFramework="net452" />
</packages>